body { margin:0; padding:0; }
#map {
	width: 800px; height: 500px; 
	}
	

#control-frame {
	background-color: #9687b4;
    overflow: scroll;
	float: right;
	position: right;
	width: 500px;
    height: 500px;
	
   
}

#control-frame header {
    background-color: #f3f3f3;
    color: #000;
    padding: 5%;
	
}



#selected {
    background-color: white;
    padding: 4%;
    border-radius: 4px;
}


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


